<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.drdc.mapper.CGjZsqkMapper">
    
    <resultMap type="CGjZsqk" id="CGjZsqkResult">
        <result property="zsqkId"    column="zsqk_id"    />
        <result property="xyzyId"    column="xyzy_id"    />
        <result property="zsjhNum"    column="zsjh_num"    />
        <result property="sjlqNum"    column="sjlq_num"    />
        <result property="fbqk"    column="fbqk"    />
        <result property="dyzylqNum"    column="dyzylq_num"    />
        <result property="sjbdNum"    column="sjbd_num"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <association property="zysz"    column="zy_id" javaType="CGjZysz" resultMap="CGjZyszResult" />
        <association property="dept"    column="dept_id" javaType="SysDept" resultMap="SysDeptResult" />
<!--        <association property="deptId"    column="dept_id" javaType="Long"/>-->
    </resultMap>

    <resultMap type="CGjZysz" id="CGjZyszResult">
        <result property="zyId"    column="zy_id"    />
        <result property="zyName"    column="zy_name"    />
    </resultMap>

    <resultMap type="SysDept" id="SysDeptResult">
        <result     property="deptId"     column="dept_id"     />
        <result property="deptName"   column="dept_name"   />
    </resultMap>

    <sql id="selectCGjZsqkVo">
        select zsqk_id, xyzy_id, zsjh_num, sjlq_num, fbqk, dyzylq_num, sjbd_num, create_by, create_time, update_by, update_time from c_gj_zsqk
    </sql>

<!--    <include refid="selectCGjZsqkVo"/>-->
    <select id="selectCGjZsqkList" parameterType="CGjZsqk" resultMap="CGjZsqkResult">
        select zs.zsqk_id, zs.xyzy_id, zs.zsjh_num, zs.sjlq_num, zs.fbqk, zs.dyzylq_num, zs.sjbd_num, zs.create_by, zs.create_time, zs.update_by, zs.update_time, zysz.zy_name, dept.dept_id from c_gj_zsqk zs
        left join c_gj_zysz zysz on zs.xyzy_id = zysz.zy_id
        LEFT JOIN sys_dept dept ON zysz.dept_id = dept.dept_id
        <where>  
            <if test="xyzyId != null "> and xyzy_id = #{xyzyId}</if>
            <if test="zsjhNum != null "> and zsjh_num = #{zsjhNum}</if>
            <if test="sjlqNum != null "> and sjlq_num = #{sjlqNum}</if>
            <if test="fbqk != null "> and fbqk = #{fbqk}</if>
            <if test="dyzylqNum != null "> and dyzylq_num = #{dyzylqNum}</if>
            <if test="sjbdNum != null "> and sjbd_num = #{sjbdNum}</if>
            <if test="dept != null ">
                <if test="dept.deptId != null ">dept.dept_id = #{dept.deptId}</if>
            </if>
        </where>
    </select>
<!--    <if test="zysz.deptId != null "> and zysz.dept_id = #{zysz.deptId}</if>-->
<!--    <if test="deptId != null "> and dept.dept_id = #{deptId}</if>-->



<!--    <include refid="selectCGjZsqkVo"/>-->
    <select id="selectCGjZsqkByZsqkId" parameterType="Long" resultMap="CGjZsqkResult">
        select zs.zsqk_id, zs.xyzy_id, zs.zsjh_num, zs.sjlq_num, zs.fbqk, zs.dyzylq_num, zs.sjbd_num, zs.create_by, zs.create_time, zs.update_by, zs.update_time,dept.dept_id from c_gj_zsqk zs
        left join c_gj_zysz zysz on zs.xyzy_id = zysz.zy_id
        LEFT JOIN sys_dept dept ON zysz.dept_id = dept.dept_id
        where zs.zsqk_id = #{zsqkId}
    </select>
        
    <insert id="insertCGjZsqk" parameterType="CGjZsqk" useGeneratedKeys="true" keyProperty="zsqkId">
        insert into c_gj_zsqk
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="xyzyId != null">xyzy_id,</if>
            <if test="zsjhNum != null">zsjh_num,</if>
            <if test="sjlqNum != null">sjlq_num,</if>
            <if test="fbqk != null">fbqk,</if>
            <if test="dyzylqNum != null">dyzylq_num,</if>
            <if test="sjbdNum != null">sjbd_num,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="xyzyId != null">#{xyzyId},</if>
            <if test="zsjhNum != null">#{zsjhNum},</if>
            <if test="sjlqNum != null">#{sjlqNum},</if>
            <if test="fbqk != null">#{fbqk},</if>
            <if test="dyzylqNum != null">#{dyzylqNum},</if>
            <if test="sjbdNum != null">#{sjbdNum},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCGjZsqk" parameterType="CGjZsqk">
        update c_gj_zsqk
        <trim prefix="SET" suffixOverrides=",">
            <if test="xyzyId != null">xyzy_id = #{xyzyId},</if>
            <if test="zsjhNum != null">zsjh_num = #{zsjhNum},</if>
            <if test="sjlqNum != null">sjlq_num = #{sjlqNum},</if>
            <if test="fbqk != null">fbqk = #{fbqk},</if>
            <if test="dyzylqNum != null">dyzylq_num = #{dyzylqNum},</if>
            <if test="sjbdNum != null">sjbd_num = #{sjbdNum},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where zsqk_id = #{zsqkId}
    </update>

    <delete id="deleteCGjZsqkByZsqkId" parameterType="Long">
        delete from c_gj_zsqk where zsqk_id = #{zsqkId}
    </delete>

    <delete id="deleteCGjZsqkByZsqkIds" parameterType="String">
        delete from c_gj_zsqk where zsqk_id in 
        <foreach item="zsqkId" collection="array" open="(" separator="," close=")">
            #{zsqkId}
        </foreach>
    </delete>
</mapper>